// colors
$font-color--light: #fff;
$font-color--grey: #bfbfbf;
$background--lighter: #f5f5f5;
$background--white: #fff;
$font-color--transred: rgba(175, 47, 47, 0.15);
$font-color--dark: #000;
$button-color--delete: #cc9a9a;

$border--light: #eee;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 9px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 90px;

// container sizing
$app-min-width: 400px;
$app-max-width: 600px;