<form class="todo-form" ng-submit="addTodo(newTodo)">
    <input id="todo-input" type="text" placeholder="Add your next TODO" ng-model="newTodo"/>
</form>
<ul ng-repeat="todo in todos" class="todo-list">
    <todo-item todo-item="todo" delete-item="removeTodo(todo)"></todo-item>
</ul>
<footer class="todo-footer">
    <span class="todo-count">
        <ng-pluralize count="todos.length"
                      when="{'0' : 'Nothing to do, YAY!', '1' : '1 TODO', 'other' : '{} TODOs'}"></ng-pluralize>
    </span>
</footer>